:root {
    --site-bg-color: #fef5c8;
    --component-bg-color: #2c6b74;
    --borders-color: #f23e02;
    --objects-preview: #013750;
    --text-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: max-content;
    background-color: var(--site-bg-color);
    color: var(--text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    margin: 2rem auto;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.user-image {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: var(--objects-preview);
}

.user-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;

    & .user-info {
        display: flex;
        flex-direction: column;
        gap: .4rem;

        & .user-name {
            font-size: 1.6rem;
        }
    }
}

.bubble-card {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 1rem;

    & .content {
        display: flex;
        flex-direction: column;
        height: max-content;
        width: 480px;
        padding: 2rem;
        border-radius: 16px;
        background-color: var(--objects-preview);
    }

    & .user-info {
        color: var(--objects-preview);

        & .user-name {
            font-weight: bold;
        }
    }

    & .triangle {
        display: flex;
        flex-direction: column;
        background-color: var(--borders-color);
        position: relative;
    
    }

    .triangle:before {
        content: '';
        display: block;
        width: 25px;
        height: 48px;
        position: absolute;
        top: -16px;
        left: 25px;
        background-color: var(--objects-preview);
        clip-path: polygon(100% 0,0 0,50% 50%)
    }
}

.short-card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: auto;
    background-color: var(--component-bg-color);
    border-radius: 32px;
    border: 3px solid var(--borders-color);
    width: 480px;
    gap: 2rem;
}

.review-container {
    display: flex;
    flex-direction: column;
    background-color: var(--objects-preview);
    border-radius: 16px;
    padding: 2rem;
    width: 480px;
    height: 280px;
    justify-content: space-between;

    & .stars {
        display: flex;
        flex-direction: row;
        font-size: 1.8rem;
        height: 32px;
    }
}

.user-img-big {
    width: 280px;
    height: 280px;
    border-radius: 16px;
    background-color: var(--component-bg-color);
}

.container-box {
    display: flex;
    flex-direction: row;

    & .long-card {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;
        margin: auto;
    }
}

.interactive-card {
    display: flex;
    flex-direction: column;
    width: 720px;
    height: 280px;
    border: 3px solid var(--borders-color);
    background-color: var(--component-bg-color);
    border-radius: 16px;
    margin: auto;
    padding: 2rem;
    gap: 2rem;

    & p {
        height: 100%;
      text-align: center;  
    }
}

.controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
    gap: 1rem;

}

.controls .prev, .controls .next {
    cursor: pointer;
    align-items: center;
}

.prev {
    align-self: center;
    position: relative;
}

.prev:before {
    content: '';
    display: block;
    background-color: #f23e02;
    width: 25px;
    height: 25px;
    clip-path: polygon(100% 0,50% 50%,100% 100%);
}

.next {
    position: relative;
    align-self: center;
}

.next:before {
    content: '';
    display: block;
    background-color: #f23e02;
    width: 25px;
    height: 25px;
    clip-path: polygon(50% 50%,0 0,0 100%);
}