.project-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: var(--min-width-boxes);
    border: none;
    background-color: var(--background-box);
    border-radius: 16px;
    padding: 16px;
    margin: 0;
}

.span-project {
    border-width: 4px;
    border-style: none none solid none;
    border-color: var(--background-layout);
    font-size: 1.2rem;
}

.work-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: var(--min-width-boxes);
    border: none;
    background-color: var(--background-box);
    border-radius: 16px;
    padding: 16px;
    margin: 0;
}

.education-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: var(--min-width-boxes);
    border: none;
    background-color: var(--background-box);
    border-radius: 16px;
    padding: 16px;
    margin: 0;
}

.review-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: var(--min-width-boxes);
    background-color: var(--color4);
    border: none;
    border-radius: 8px;
    padding: 16px;
}