:root {
    --background: #31827c;
    --background-layout: #f7e9aa;
    --background-box: #95c68f;
    --color4: #fc8a80;
    --color5: #fd4e6d;
    --font-normal: 16px;
    --min-width-boxes: 300px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    font-weight: bold;
    text-decoration: none;
}

html, body {
    display: flex;
    justify-content: center;
    background-color: var(--background);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: var(--font-normal);
    width: 100vw;
}

.main-layout {
    display: flex;
    flex-direction: column;
    background-color: var(--background-layout);
    max-width: 1080px;
    min-width: 430px;
    width: 85%;
    height: 100%;
    margin: 0 32px;
    padding: 32px;
}

main {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
}

.menu-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div, section, span {
    margin-bottom: 16px;
}

.profile {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.profile label{
    font-size: 32px;
    font-weight: bold;

}

.banner h1 {
    width: fit-content;
    font-size: 96px;
}

.banner p {
    width: fit-content;
    font-size: 24px;
    opacity: 75%;
}