input[type="text"] {
    height: 24px;
    border: none;
    border-radius: 8px;
    background-color: var(--background-layout);
}

input[type="email"] {
    height: 24px;
    border: none;
    border-radius: 8px;
    background-color: var(--background-layout);
}

input[type="submit"] {
    height: 32px;
    width: 200px;
    border: none;
    border-radius: 8px;
    background-color: var(--color5);
    font-size: 1rem;
}

