:root {
    --background: #fff;
    --background-layout: #fff;
    --background-box: #fff;
    --item-color: #fff;
    --box-color: #fff;
    --font-normal: 16px;
    --min-width-boxes: auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 16px;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}

ol, ul {
    margin-left: 40px;
}

p {
    margin-bottom: 8px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}


body {
    display: flex;
    justify-content: center;
    background-color: var(--background);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: var(--font-normal);
    width: 100vw;
}

div, section, span {
    margin-bottom: 16px;
}

main {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;

    & h3 {
        margin: 0;
    }
}

input[type="text"] {
    height: 24px;
    border: none;
    border-radius: 8px;
    background-color: var(--background-layout);
}

input[type="email"] {
    height: 24px;
    border: none;
    border-radius: 8px;
    background-color: var(--background-layout);
}

input[type="submit"] {
    height: 32px;
    width: 200px;
    border: none;
    border-radius: 8px;
    background-color: var(--color5);
    font-size: 1rem;
}

.main-layout {
    display: flex;
    flex-direction: column;
    background-color: var(--background-layout);
    border: 1px solid black;
    gap: 16px;
    width: 60%;
    height: 100%;
    padding: 16px 32px;
}

.menu-header {
    display: flex;
    flex-direction: row;

    & .profile {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        gap: 16px;

        & p {
            font-size: 32px;
            font-weight: bold;
            text-wrap: nowrap;
            margin: 0;
        }
    }

    & .menu {
        flex: 1;
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
        padding: 0 32px;
        gap: 16px;
    
        & a {
            font-size: 24px;
            font-weight: bold;
        }
    }
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--box-color);
    border: 1px solid black;
    border-radius: 16px;
    height: 320px;
    opacity: 75%;
}

.history {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;

    & .project-box {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-width: var(--min-width-boxes);
        border: none;
        background-color: var(--background-box);
        border: 1px solid black;
        border-radius: 16px;
        padding: 16px;
        margin: 0;

        & .div-project {
            border-width: 2px;
            border-style: none none solid none;
            border-color: black;
            font-size: 1.2rem;
        }
    }

    & .work-frame {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-width: var(--min-width-boxes);
        margin: 0;
        gap: 8px;
    
        & .work-box {
            flex: 1;
            display: flex;
            flex-direction: column;
            min-width: var(--min-width-boxes);
            border: 1px solid black;
            background-color: var(--background-box);
            border-radius: 16px;
            padding: 16px;
            margin: 0;
        }
    }

    & .education-box {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-width: var(--min-width-boxes);
        border: 1px solid black;
        background-color: var(--background-box);
        border-radius: 16px;
        padding: 16px;
        margin: 0;
    }
}

.reviews {
    display: flex;
    flex-direction: column;
    min-width: var(--min-width-boxes);
    border: 1px solid black;
    background-color: var(--background-box);
    border-radius: 16px;
    padding: 32px;

    & .reviews-inner-frame {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1 1 33.33%;
        gap: 16px;

        & .review-box {
            flex: 1;
            display: flex;
            flex-direction: column;
            min-width: var(--min-width-boxes);
            background-color: var(--color4);
            border: 1px solid black;
            border-radius: 8px;
            padding: 16px;
        }
    }
}

.formulary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
        "name1 name2 email"
        "msg msg msg"
        "btn btn btn";
    background-color: var(--background-box);
    border: 1px solid black;
    border-radius: 16px;
    padding: 16px;
    gap: 8px;

    & div {
        display: flex;
        flex-direction: column;
    }

    & input{
        border: 1px solid black;
    }

    & .first-name {
        grid-area: name1;
    }

    & .last-name {
        grid-area: name2;
    }

    & .email {
        grid-area: email;
    }

    & .message {
        grid-area: msg;
    }

    & .sub-button {
        grid-area: btn;
        margin: auto;
        align-self: center;
        justify-content: center;
        border: 1px solid black;
    }

    & p {
        font-size: 1.2rem;
        font-weight: bold;
    }

}