h1, h2, h3, h4, h5, h6 {
    margin-bottom: 16px;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}

ol, ul {
    margin-left: 40px;
}

p {
    margin-bottom: 8px;
}

label {
    font-size: 1.2rem;
}

.user-name {
    font-size: 2rem;
    font-weight: bold;
}
