:root {
    --background: #31827c;
    --background-layout: #f7e9aa;
    --background-box: #95c68f;
    --color4: #fc8a80;
    --color5: #fd4e6d;
}

* {
    box-sizing: border-box;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32px;
}

body, html {
    display: flex;
    justify-content: center;
    background-color: var(--background);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.main-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--background-layout);
    width: 75%;
    padding: 32px;
}

.menu-banner {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    width: 100%;
    height: 48px;
}

.profile {
    display: flex;
    align-items: center;
    width: auto;
    font-size: 24px;
    font-weight: bold;
    gap: 8px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    font-size: 18px;
    font-weight: bold;
    justify-content: end;
    gap: 16px;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
    width: 100%;
    height: 320px;
    opacity: 75%;
}

.banner h1 {
    width: fit-content;
    margin: 0;
    font-size: 48px;
}

.banner p {
    width: fit-content;
    margin: 0;
    font-size: 24px;
    opacity: 75%;
}

.review-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    gap: 32px;
    padding: 32px;
}

.review-box {
    background-color: var(--background-box);
    border-radius: 16px;
    border: none;
    width: 250px;
    aspect-ratio: 16/9;
    padding: 8px;
}